<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                        </li>
                    <% }) %>
                </ul>

                <div class="centered">
                   <h2>Total: <%= totalSum %></h2>
                </div>
                <div class="centered">
                    <button id='order-btn' class="btn">Order</button>
                    <script src="https://js.stripe.com/v3/"></script>
                    <!-- <form action="/create-order" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="btn">Order Now!</button>
                    </form> -->
                    <script>
                        const stripe = Stripe('pk_test_51HIvRrAIOSc4RsI0024AMFA1pX5OTG3D10dfVPZvXMrGFDbKgv1ZTqTlWDu8IFX0TSVFdIhGRDNKDy6Jvam3B1ll00XIsfDrco');
                        let orderBtn = document.getElementById('order-btn');
                        orderBtn.addEventListener('click', function(){
                            stripe.redirectToCheckout({
                                sessionId: '<%= sessionId %>'
                            })
                        })
                    </script>
                </div>

                
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>